@charset "UTF-8";

@import 'helpers/FontAwesome/_variables';
@import 'helpers/FontAwesome/_mixins'; // &:after { @include fa-icon-is($fa-var-close) } - пример создания иконки .fa.fa-close
@import 'variables';
@import '_variables';
@import '_styles';
@import 'helpers/grid';
@import 'helpers/mixins';

/*-- Вспомогательные стили --*/

@media #{$media-phone-landscape} {
	body {
		&.is-popup-opened {
			position: fixed;
			left: 0;
			right: 0;
		}
	}
}

.content-center{
	@include columnizerParent;
	.col-3{
		@include columnizer(4);
	}
}

.about{
	&__row{
		@include columnizerParent;
		.about__text-wrapper{
			@include columnizer(6);
			@include w480(){
				@include columnizer(12);

			}
		}
	}
}

.clearme {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

.noclear {
	clear: none;
}

.clearfix {
	/**zoom: 1;*/
	&::before, &::after {
		display: table;
		line-height: 0;
		content: "";
	}
	&::after {
		clear: both;
	}
}
.rouble {
	font-family: $font-rouble;
}

.center {
	text-align: center;
}

body .nomargin {
	margin-top: 0;
	margin-bottom: 0;
}

.content-center {
	width: 95%;
	margin: 0 auto;
	max-width: $content-max-width;
	/*@media #{$media-desktop} {
		min-width: 980px;
	}*/
	@media #{$media-phone-landscape} {
		/*min-width: auto;*/
		width: auto;
		margin-left: $mobile-outer-margin;
		margin-right: $mobile-outer-margin;
	}
}

.rub {
	@include fa-icon($fa-var-rub);
	display: inline-block;
	width: 1em;
	overflow: hidden;
	vertical-align: bottom;
	white-space: nowrap;

	&:before {
		font-size: 0.9em;
		margin-right: 1em;
	}
}

/*-- Структура страницы --*/

html {
	.layout {
		position: relative;
	}
	/* Фиксированный футер */
	&.is-footer-fixed {
		position: relative;
		min-height: 100%;
		body {
			margin-bottom: 0; // Задается через js
		}
		.layout {
			position: static;
		}
		.layout__footer {
			position: absolute;
			left: 0;
			bottom: 0;
			height: auto;
			width: 100%;
		}
	}
}

body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-text-dark;
	background-color: $color-back-gray;

	&.mobile-menu {
		overflow: hidden;
	}
}

/* Скроллбар */
::-webkit-scrollbar {width: 4px}
::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0.3)}
::-webkit-scrollbar-thumb {background: #818181; right: 2px}
::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.7)}

/*-- Контентные стили --*/

/* Заголовки */
.h1 {
	margin-top: 10px;
	@include mbot(3.5);
	font-family: $lora;
	font-size: 315%;
	line-height: 1.2;
	font-weight: normal;
	@media #{$media-phone-landscape} {
		font-size: 133%;
		font-weight: bold;
		margin-top: 0;
	}
	@include desktop-mini{
		font-size:253%;
	}
	&:first-child {
		margin-top: 50px;
	}
}

.h2 {
	@include mtop(2.5);
	@include mbot(2);
	font-size: 197%;
	line-height: 1.2;
	font-weight: bold;
	@media #{$media-phone-landscape} {
		font-size: 129%;
		@include mtop(1.5);
		@include mbot(1);
	}
	@include desktop-mini{
		@include mbot(1.5);
		font-size:165%;
	}
}

.h3 {
	@include mtop(2);
	@include mbot(1.5);
	font-size: 180%;
	line-height: 1.2;
	font-weight: bold;
	@media #{$media-phone-landscape} {
		font-size: 109%;
		@include mtop(1.5);
		@include mbot(1);
	}
	@include desktop-mini{
		font-size:140%;
	}
}

.h4 {
	@include mtop(1.5);
	@include mbot(1);
	font-size: 120%;
	line-height: 1.2;
	font-weight: bold;
	@media #{$media-phone-landscape} {
		font-size: 100%;

	}
	@include desktop-mini{
		font-size:112%;
	}

}

.h5 {
	@include mtop(1);
	@include mbot(1);
	font-size: 96%;
	font-weight: bold;
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }

.heading-note {
	font-size: $font-size-base;
	line-height: $line-height-base;
	vertical-align: baseline;
	margin-left: 5px;
}

/* Списки */

ul.horizontal, ol.horizontal {
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		margin: 5px 0;
		margin-right: 1em;
		vertical-align: middle;
	}
}

.content-area {
	ol {
		list-style-type: decimal;
	}
	.standart-caption{
		color: $color-text-dark;
		font-family:$lora;
	}

	.pull-left{
		float: left;
		margin-right: 40px;
		img{
			@include w480{
				width: 100%;
			}
		}
		@include w480(){
			float: none !important;
			margin-right: 0;
			margin-bottom: 25px;
		}
	}

	.pull-right{
		float: right;
		margin-left: 40px;
		img{
			@include w480{
				width: 100%;
			}
		}
		@include w480(){
			float: none !important;
			margin-left: 0;
			margin-bottom: 25px;
		}
	}
	.wrap-pull{
		margin-bottom: 40px;
	}

	.footnote{
		font-family:$lora;
		color:$color-text-dark;
		position: relative;
		max-width:425px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.3;
		padding:40px 20px;
		@include w480(){
			font-size: 15px;
			padding:30px 0 0 0;
			line-height: 1.4;
		}
		&:before{
			content: '';
			height: 2px;
			background-color: $color-golddark;
			width: 30%;
			top: 0;
			position: absolute;
			@include w480(){
				height: 1px;
			}
		}
	}


	.row{
		@include columnizerParent;
		margin-top: 50px;
		&__wrap{
			@include columnizer(6);
			@include w480(){
				@include columnizer(12);
			}
		}

	}

	.img-frame{
		box-shadow: inset 1px 1px 7px 20px #F0F0F0, 4px 10px 20px 0px rgba(0,0,0,.3);
		border: 2px solid #e0dfdf;
		width: 183px;
		height: 235px;
		background-color: #fff;
		padding: 18px;
		position: relative;
		display: table;
		@include w480(){
			width: 144px;
			height: 190px;
		}
		&__inner{
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
		}
		&.is-mini{
			width: 168px;
		}
		img{
			width: 100%;
		}

	}

	h1.is-padding, h2.is-padding, h3.is-padding,
	h4.is-padding, h5.is-padding, h6.is-padding{
		padding-left: 70px;
		@include w480(){
			padding-left: 0;
		}
	}

	.form-standart__date{
		display: flex !important;
		justify-content: space-between;
		.form-standart__inputs{
			display: inline-block;
			margin-right: 0 !important;
			@include w480{
				margin-right: 1% !important;
			}
			&:nth-child(1){
				width: 30%;
			}
			&:nth-child(2){
				width: 40%;
				@include w480{
					margin-right: 1% !important;
				}
				@include w480{
					width: 38%;
				}



			}
			&:nth-child(3){
				width: 27%;
				@include w480{
					width: 30%;
					margin-right: 0 !important;
				}

				.select2-container{
					@include w480{
					}
				}

			}
		}
	}

	.form-standart__inputs{
		position: relative;
		.button-primary__arrow{
			color: #fff;
			margin-left: -30px;
		}
		.icon-del{
			position: absolute;
			right: -39px;
			top: 50%;
			font-weight: bold;
			transform: translateY(-50%);
			color: $color-status-error;
			@include w480{
				display: none;
			}
			&:before{
				font-weight: bold;

			}
		}
		.icon-check{
			position: absolute;
			right: -45px;
			top: 50%;
			font-weight: bold;
			transform: translateY(-50%);
			color: $color-input-focus;
			font-size: 21px;
			@include w480{
				display: none;
			}
		}
	}

	.form-standart__btn{
		display: inline-block;
		position: relative;
		&:before{
			color: #fff;
			right: 40px;
			top: 50%;
			margin-top: -7px;
			position: absolute;
		}
	}

	.iradio {
		vertical-align: middle;
		width: 24px;
		height: 24px;
		margin-top: -2px;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		_height: 15px;
		margin-right: .3em;
		border: 2px solid  $color-golddark;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		background: #fff;
	}

	.iradio.checked:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		width: 14px;
		height: 14px;
		background-color: $color-golddark;
	}

	.icheckbox {
		vertical-align: middle;
		font-size: 100%;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		_height: 15px;
		width: 25px;
		height: 25px;
		margin-top: -3px;
		text-align: center;
		margin-right: .3em;
		background: #fff;
		border: 2px solid #C8AF79;
		cursor: pointer;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	.icheckbox.checked:before {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		content: "";
		position: relative;
		left: -1px;
		top: -1px;
		font-size: 14px;
		line-height: 14px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		color: #fff;
		background-color: #C8AF79;
	}

	.wrap-link{
		margin-bottom: 30px;
	}

	span.icon-txt,
	span.icon-doc,
	span.icon-pdf,
	span.icon-jpg,
	span.icon-avi,
	span.icon-flv,
	span.icon-wav,
	span.icon-avi{
		&:before{
			font-size: 48px;
			vertical-align: middle;
			@include w480{
				font-size: 28px;
			}

		}
		color: $color-golddark;
	}

	.select2-container--default .select2-selection--single{
		border-radius: 0 !important;
		height: 39px !important;
		@include w480{
			height: 34px !important;
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 37px !important;
		@include w480{
			line-height: 33px !important;
		}
	}

	ul {
		list-style: initial;
		padding-left: 30px;

		> li {
			@include margin(10/20);
		}
		@media #{$media-phone-landscape} {
			padding-left: 15px;
		}
	}

	ul.marked, ol {
		@include margin(1.5);
		@include pleft(1.5);

		&.indent {
			@include mleft(3.5);
		}
		@media #{$media-phone-landscape} {
			padding-left: 15px;
		}
	}
	ol {
		@media #{$media-phone-landscape} {
			padding-left: 20px;
		}
	}

	ul.marked > li {
		position: relative;

		&:before {
			content: " ";
			background: url("../img/icons/ico-list-arrow-grey.png");
			width: 5px;
			height: 8px;
			position: absolute;
			top: 8px;
			left: -30px;
		}
	}

	ol {
		list-style-type: none;
		counter-reset:  item;
	}

	ol > li {
		position: relative;

		&:before {
			content: counter(item)'.';
			counter-increment: item;
			position: absolute;
			left: -30px;
			@media #{$media-phone-landscape} {
				left: -20px;
			}
		}
	}

	ul.marked li, ol li {
		@include margin(0.5);

		> ul, > ol {
			@include margin(0)
		}
	}

	ul.nostyle, ol.nostyle {
		margin: 0;
		list-style: none;

		> li {
			@include margin(10/20);
		}
	}

	ul.horizontal, ol.horizontal {
		@include margin;
		padding: 0;

		> li {
			display: inline-block;
			margin: 5px 0;
			margin-right: 1em;
			vertical-align: middle;
		}
	}

	ul.attention {
		font-weight: bold;
	}

	img {
		max-width: 100%;
	}
}

/* Абзацы */
p {
	@include mbot(1);
}

p.intro {
	font-weight: bold;
	font-size: 120%;
}

p.insert {

	padding: $base-vertical-margin 0;
	padding-left: 40px;
	@include margin(2);
	font-size: 150%;
	text-align: left;
	color: $color-accent-text;
	border-top: 2px solid $color-accent-text;
	border-bottom: 2px solid $color-accent-text;
}

p.note-right {
	float: right;
	clear: right;
	width: 25%;
	border-left: 4px solid #ffd021;
	@include padding(1);
	@include pleft(1.5);
}

p.note-left {
	float: left;
	clear: left;
	width: 25%;
	border-right: 4px solid #ffd021;
	@include padding(1);
	@include pright(1.5);
	@include mright(1.5);
	text-align: right;
}

p.white {
	background-color: #fff;
}

p.note-big-center {
	clear: both;
	border-left: 4px solid #ffd021;
	@include padding(2);
	@include pleft(5);
	@include pright(5);
	font-size: 14/12*100%;
	line-height: (27/14);
}

p.quote-big-center {
	position: relative;
	clear: both;
	@include padding(2);
	@include pleft(7.5);
	@include pright(5);
	font-size: 13/12*100%;
	line-height: (22/13);

	&:before {
		content: " ";
		background: url("../img/icons/ico-quote.png");
		width: 26px;
		height: 21px;
		position: absolute;
		top: 44px;
		left: 100px;
	}
}

p.small {
}

/* Ссылки */
a {
	color: $color-link;
	cursor: pointer;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

header, footer {
	a {
		text-decoration: none;
	}
}

a.is-solid{
	color: $color-golddark;
	border-bottom:1px solid;
	@include w480{
		font-size: 12px;
	}
	&:hover{
		color: $color-gold;


	}
	&:visited{
		color: $color-brown;
	}
	&.is-visited{
		color: $color-brown;
	}
}
a.is-dotted{
	color: $color-golddark;
	border-bottom:1px dotted;
	@include w480{
		font-size: 12px;
	}
	&:hover{
		color: $color-gold;

	}
	&:visited{
		color: $color-brown;
	}
	&.is-visited{
		color: $color-brown;
	}
}




a.doc-link {
	&:before {
		@include fa-icon($fa-var-file, true);
		margin-right: .5em;
	}
}

a.callback-link {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-weight: bold;
	letter-spacing: .05em;
	text-decoration: none;
	color: white;
	border-radius: 20px;

	&:hover {
		color: #ffd83c;
	}
}

a.dashed-link {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px dashed $color-accent-text;

	&:hover {
		border-bottom-style: solid;
	}
}

a.more-link {
	@include margin;
}

a.nocolor-link {
	color: inherit;
}

a.heading-link{
	font-size: 70%;
	margin-left: 20px;
}

a.pseudo-link {
	text-decoration: none;
	border-bottom: 1px dashed;

	&:hover {
		border-bottom: none;
	}
}

a.bg-link {
	font-size: 11px;
	color: #146b95;
	padding: 0px 8px;
	background-color: #fff;
	line-height: 20px;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	margin: 5px;

	&:hover {
		color: #fff;
		background-color: #024d72;
	}

	&:active {
		color: #fff;
		background-color: #c7c7ca;
	}
}

/* Изображения */

img.image-left {
	clear: left;
	float: left;
	@include mright(1.5);
	margin-bottom: $base-vertical-margin;
	max-width: 50%;
}

img.image-right {
	clear: right;
	float: right;
	@include mleft(1.5);
	margin-bottom: $base-vertical-margin;
	max-width: 50%;
}

img.image-center {
}

figure {
	clear: both;
	width: 100%;
	display: block;
	text-align: center;
	@include mbot(1);
	color: $color-text-light;

	img {
		max-width: 100%;
		@include mbot(.5);
	}
}

/* Кнопки */
@mixin button() {
	background: $color-button-default-bg;

	display: inline-block;
	padding: 4px 15px;
	line-height: 1.5;
	text-decoration: none;
	border-radius: 8px;
	color: $color-button-default-text;
	border: none;
	cursor: pointer;
	font-size: 13px;
	@include box-sizing;

	&:hover {
		background: $color-button-default-bg-hover;
	}

	&:active {
		color: $color-button-default-text;
		background: $color-button-default-bg;
	}
}
.button {
	@include button;
}

.button-primary {
	background: $color-button-primary-bg;
	color: $color-button-primary-text;
	border: none;

}

.button-big {
	@extend .button;
	font-size: 14px;
	border-radius: 25px;
}

button.is-transparent{
	border-radius: 2px;
	border: 2px solid #3A7062;
	padding: 12px 21px;
	font-size: 18px;
	color: $color-greendark;
	font-family:$lora;
	background-color: transparent;
	@include w480(){
		font-size: 13px;
		padding:11px 16px;
		border: 1px solid #3A7062;
	}
	&:hover{
		background-color: #fff;
		box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.3);
	}
	&:disabled{
		opacity:.8;
	}
}

.button-secondary {
	@extend .button;
	background: $color-button-primary-bg;
	color: $color-button-primary-text;
	border: none;
	&:hover {
		background: lighten($color-button-primary-bg, 2%);
	}
}
button.is-gold, input.is-gold{
	border-radius: 2px;
	background-color: $color-yellow;
	font-family:$lora;
	color: $color-greendark;
	border:none;
	font-size: 20px;
	padding:12px 80px 14px 20px;
	position: relative;
	&:hover{
		background-color: $color-yellowdark;
		box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.3);
	}
	&:disabled{
		background-color: $color-golddark;
	}
	&:before{
		position: absolute;
		font-size: 12px;
		right: 50px;
		top:18px;
	}

}
button.is-green, input.is-green{
	border-radius: 2px;
	background-color: $color-green-btn;
	font-family:$lora;
	color: #fff;
	border:none;
	font-size: 20px;
	padding:12px 20px 14px 20px;
	position: relative;
	@include w480{
		font-size: 16px;
		padding: 12px 20px 14px 20px;
	}
	@include w480{
		font-size: 16px;
		padding: 12px 20px 14px 20px;
	}
	&:hover{
		background-color: $color-greendark-btn;
		box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.3);
	}
	&:disabled{
		background-color: #566C69;
	}
	&:before{
		position: absolute;
		font-size: 12px;
		right: 50px;
		top:18px;
		@include w480{
			font-size: 9px;
			right: 44px;
		}
	}



}

/* Таблицы */
.table {
	width: 100%;
	@include margin;
	font-size: 90%;

	td,
	th {
		@include padding(0.5);
		padding-left: 1em;
		padding-right: 1em;
		vertical-align: middle;
		text-align: left;
	}

	td {
		color: $color-text-dark;
	}

	th {
		color: $color-text-light;
		background: $color-bg-light;
	}

	a {
		font-family: $font-base-medium;
		line-height: 20px;

		&:hover {
		}
	}

	.price {
		white-space: nowrap;
		font-family: $font-base-bold;
		font-weight: bold;
	}

	&.b2b {
		.center { text-align: center; }
		.nowrap { white-space: nowrap; }

		tr:nth-child(2n) td {
			background: $color-table-light;
		}

		tr:last-child {
			border-bottom: 2px solid #c1c1c1;
		}

		th {
			@include padding(.3);
			background-color: transparent;
			color: #999;
			font-size: 11/12*100%;
			line-height: (18/11);
		}

		td {
			@include padding(1);
			color: $color-text-dark;

			/*&:first-child {
				padding-left: 1em;
			}
			&:last-child {
				padding-right: 1em;
			}*/
		}

		a {
			color: $color-link;
			text-decoration: none;
		}
	}

	&.stripes {
		tr:nth-child(2n) td {
			background: #fff;
		}

		tr:nth-child(2n+1) td {
			background: $color-bg-light;
		}

		td {
			&:first-child {
				padding-left: 1em;
			}
			&:last-child {
				padding-right: 1em;
			}
		}
	}
}

.table-small {
	@extend .table;
	width: auto;
}

/* Галерея */
.fancybox-skin {
	border-radius: 0;
	background-color: #fff;
}

.fancybox-wrap {
	border-radius: 0;
	margin-bottom: 25px;
	max-width: 100%;

	&.is-video {
		.fancybox-close {
			right: -25px;
			top: 0;
		}
	}
}

.fancybox-close {
	top: 5px;
	right: 10px;
	width: auto;
	height: auto;
	background-image: none;
	text-decoration: none;
	color: gray;
	font-size: 18px;

	&:hover {
		color: black;
	}

	&:before {
		@include fa-icon($fa-var-close, true);
	}
}

.fancybox-inner.is-default {
	height: auto !important; // to set width fit without height fit
}

.fancybox-wrap.is-ajax {
	visibility: hidden;
}

.fancybox-nav {
	width: 50px;
	span {
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		visibility: visible;
		margin-top: -10px;
		color: gray;

		&:hover {
			color: black;
		}
	}
}

.fancybox-next {
	right: -50px;

	span {
		background: none;
		@include fa-icon($fa-var-chevron-right)
	}
}

.fancybox-prev {
	left: -50px;

	span {
		background: none;
		@include fa-icon($fa-var-chevron-left)
	}
}

/* Прочее */
b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

/*-- Стилизация UI элементов --*/

/* Inputs, textarea */
[type="text"],
[type="password"],
[type="email"],
[type="tel"] {
	height: 2em;
	line-height: 2em;
	font-size: $font-size-base;
	line-height: $line-height-base;
	padding: 0 10px;
	border: 1px solid $form-border-color;
	@include box-sizing;
	@include w480{
		font-size: 16px !important;
	}

	@include placeholder() {
		color: $form-placeholder-color;
	}

	&:focus {
		outline: none !important;
		border-color: $form-border-focus-color;

		@include placeholder() {
			color: transparent;
		}
	}
}

label {
	cursor: pointer;
}

textarea {
	height: 10em;
	font-size: $font-size-base;
	line-height: $line-height-base;
	@include box-sizing;
	padding: 10px 10px;
	border: 1px solid $form-border-color;
	resize: vertical;

	&:focus {
		outline: none !important;
		border-color: $form-border-focus-color;

		@include placeholder() {
			color: transparent;
		}
	}
}

/* Checkbox, radio */
.icheckbox {
	vertical-align: middle;
	font-size: 100%;
	@include inline-block;
	width: 25px;
	height: 25px;
	margin-top: -3px;
	text-align: center;
	margin-right: .3em;
	background: #fff;
	border: 1px solid $color-golddark;
	cursor:pointer;
	border-radius: 2px;

	&.checked {
		&:before{
			@include fa-icon($fa-var-check, true);
			position: relative;
			font-size: 14px;
			line-height: 14px;
			border-radius: 2px;
			padding: 5px;
			color: #fff;
			background-color: $color-golddark;
		}
	}
}

.iradio {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-top: -2px;

	@include inline-block;
	margin-right: .3em;
	border: 1px solid gray;
	border-radius: 50%;
	text-align: center;
	background: #fff;

	&.checked {
		&:before{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin:auto;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			background-color: $color-accent-text;
		}
	}
}

/* Select2 */
.select2-selection__rendered,
.select2-results__option {
	span.is-img-point {
		content: '';
		display: inline-block;
		vertical-align: sub;
		width: 16px;
		height: 16px;
		margin-top: 6px;
		background: transparent 50% 50% no-repeat;
		-webkit-background-size: cover;
		background-size: cover ;
		margin-right: 6px;
	}
}
.select2-container--default {

	.select2-selection--single {
		border: 1px solid gray;
	}

	.select2-selection--single {
		height: 30px;
	}

	.select2-selection--single .select2-selection__rendered {
		line-height: 28px;
		padding-left: 10px;
		padding-right: 30px;
	}

	.select2-selection .select2-selection__arrow {
		width: 25px;

		&:before {
			@include fa-icon($fa-var-chevron-down, true);
			position: absolute;
			font-size: 12px;
			top: 50%;
			margin-top: -6px;
			margin-left: 6px;
			text-align: center;
		}
	}

	.select2-selection .select2-selection__arrow b {
		border: none;
	}

	.dropdown-wrapper {
		border: none;
	}

	.select2-dropdown {
		border: 1px solid gray;
		overflow: hidden;

		&--above {
			border-bottom: none;
			margin-bottom: -1px;
		}

		&--below {
			border-top: none;
			margin-top: -1px;
		}
	}

	&.select2-container--open.select2-container--above .select2-selection {
		border-top: transparent;
		/*border: none;*/
	}

	&.select2-container--open.select2-container--below .select2-selection {
		border-bottom: transparent;
		/*border: none;*/
	}

	.select2-results__option {
		margin: 0;
	}

	// .select2-results > .select2-results__options {
	// 	max-height: 280px;
	// 	overflow-y: hidden;
	// }

	.select2-search--dropdown .select2-search__field {
		border-left: none;
		border-right: none;
	}

	.select2-results__option {
		padding-left: 10px;
	}

	.select2-results__option[aria-selected=true] {
		position: relative;
		background-color: #f8f8f8;
		color: $color-text-dark;

		/*&:after {
			content: '\00A0\f00c';
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration:none;
			display: inline-block;
			margin-left: .25em;
			margin-top: -2px;
			vertical-align: middle;
			font-size: 10px;
		}*/
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: #f8f8f8;
		color: $color-text-dark;
		/*background-color: #f1f1f1;
		color: black;*/
	}
}

.select2-container--default.select2-container--open {
	.select2-selection .select2-selection__arrow {
		&:before {
			transform: rotate(180deg);
		}
	}
}

.modals {
	display: none;
}

/*-- Уведомление о статусе заказа --*/

.order-status-notice {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	border: none;
	line-height: 1.5;
	font-size: 14/14*100%;
	color: black;
}

.order-status-success {
	@extend .order-status-notice;
	background: #dff0d7;
}

.order-status-info {
	@extend .order-status-notice;
	background: #d8edf8;
}

.order-status-warning {
	@extend .order-status-notice;
	background: #fcf8e2;
}

.order-status-danger {
	@extend .order-status-notice;
	background: #f2dede;
}
.is-hide {display: none}

@media #{$media-mobile} {
	.is-hide-mobile {
		display: none !important;
	}
}
@media #{$media-not-mobile} {
	.is-hide-desktop {
		display: none !important;
	}
}

@media screen and (max-width: 479px){
	.is-hide-mobile-mini{
		display: none !important;
	}
}

@media screen and (min-width: 480px){
	.is-hide-other{
		display: none !important;
	}
}

@media #{$media-phone-landscape} {

	.fancybox-wrap {
		&.is-video {
			.fancybox-close {
				right: 10px;
				top: 10px;
			}
		}
	}

	.fancybox-close {
		top: 10px;
		right: 10px;
		position: fixed;
		width: 32px;
		height: 32px;
		@include box-sizing;
		padding: 10px;

		&:before {
			@include fa-icon($fa-var-close, true);
			display: block;
			width: 12px;
			height: 12px;
		}
	}



	.fancybox-wrap.is-ajax {
		visibility: hidden;
	}

	.fancybox-nav {
		width: 50px;
		span {
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			visibility: visible;
			margin-top: -10px;
			color: gray;

			&:hover {
				color: black;
			}
		}
	}

	.fancybox-next {
		right: -50px;

		span {
			background: none;
			@include fa-icon($fa-var-chevron-right)
		}
	}

	.fancybox-prev {
		left: -50px;

		span {
			background: none;
			@include fa-icon($fa-var-chevron-left)
		}
	}

	@media #{$media-phone-landscape} {
		.fancybox-image {
			width: auto;
			height: auto;
		}
	}
}

.success-message-modal {
	display: none;
	padding: 40px;

	&__caption {
		@include mtop(2.5);
		@include mbot(2);
		font-size: 24/12*100%;
		line-height: normal;
		font-weight: 700;
	}

	&__text{
		&.error{
			color: #d30116;
		}
	}
	&__close-holder {
		@include mtop(1);
		text-align: center;
	}
}

.main {
	&__content {
		margin: 40px 0;
	}
}

@media #{$media-phone-landscape} {
	body.is-fixed #bx-panel {
		display: none !important;
	}
}

.is-empty-items-list {
	text-align: center;
}

.mobilezoom {
	&__topbar {
		border-bottom: 3px solid #0F4E43;
	}
	&__backbutton {
		width: 10px;
		height: 20px;
		color: #0F4E43;
	}
}

/*-- Блоки --*/
@import '../tmp/blocks';
@import 'layout';