// Breadcrumbs
.breadcrumbs {
	color: #fff;
  @include w480(){
	display: none;
  }



	&__list {
		list-style: none;
		margin-left: 0;
	}

	&__item {
		display: inline;
	  @include desktop-mini{
		font-size: 11px;
	  }

		&:before {
			content: "\2192";
			margin: 0 8px;
		}

		&:first-child:before {
			display: none;
		}
	}

	&__link {
		text-decoration: none;
		color: #fff;
	  font-size: 13px;
	  @include desktop-mini{
		font-size: 11px;
	  }

		&:hover {
			color: #999999;
		}
	}

	@media #{$media-phone-landscape} {
		font-size: 90%;
		&__item:last-child {
			display: none;
		}
	}

}


//For content-area
.content-area {
	.breadcrumbs {
		&__list {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}

		&__link {
			text-decoration: underline;
			color: #999999;

			&:hover {
				text-decoration: none;
				color: #999999;
			}
		}
	}
}
