mixin header-mobile-footer()
	li.header-menu__first-item.contacts
		a.header-menu__first-link(href='#')
			.fa.fa-phone
			.header-menu__first-link-text.phone 8 (495) 956-29-92
		a.header-menu__first-link(href='#')
			.fa.fa-map-marker
			.header-menu__first-link-text Сеть региональных офисов
	li.header-menu__first-item.eng
		a.header-menu__first-link(href='#') In English