.header-mobile {
	background-color: $color-green;
	z-index: 2;
	height: 100%;

	&__plate {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 50px;
	}

	&__left, &__right {
		flex: 1 10%;
	}

	&__left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__burger {
		cursor: pointer;
		padding: 22px 14px;

		&-item {
			width: 20px;
			height: 2px;
			background: $color-text-light;
			border-radius: 2px;
			transition: .25s ease-in-out;

			&:nth-child(1) {
				transform: translateY(-4px);
			}
			&:nth-child(3) {
				transform: translateY(4px);
			}
		}

		&.open{
			.header-mobile__burger-item {

				&:nth-child(1) {
					transform: rotate(135deg) translate(3px);
				}

				&:nth-child(2) {
					opacity: 0;
					transform: translateX(-60px);
				}

				&:nth-child(3) {
					transform: rotate(-135deg) translate(2px);
				}
			}
		}
	}

	&__logo {
		flex: 1 80%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-block {
			width: 90%;
		}
	}

	&__right {
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}

	&__phone {

		&-icon {
			font-size: 1.6em;
			padding: 9px 13px;
			cursor: pointer;

			a {
				color: $color-text-light;
			}
		}
	}


}

.header-menu {
	position: fixed;
	top: 50px;
	left: 0;
	opacity: 0;
	z-index: 1;
	width: 100%;
	min-height: 0;
	background: #00383a;
	transform: translateY(150%);
	transition-property: opacity, transform, background,min-height, max-height;
	transition-duration: 0.6s;
	transition-timing-function: ease-in;

	&.open {
		opacity: 1;
		z-index: 3;
		max-height: 100%;
		transform: translateY(0);
		transition-property: opacity, transform, background, min-height, max-height;
		transition-duration:0.6s;
		transition-timing-function: ease-out;
	}

	&__plate {
		overflow-y: visible;
	}

	&__first {

		&-level {
			overflow-x: hidden;
			overflow-y: auto;
			height: 95vh;
		}

		&-item {
			border-bottom: 2px solid #003434;
			border-top: 2px solid #003434;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&.back {
				font-size: 0.7em;

				a {
					padding: 10px 0;
				}
			}

			&.contacts {
				padding: 10px 0;
				flex-direction: column;

				a {
					margin-bottom: 10px;
					display: flex;
					flex-direction: row;
					align-items: center;

					.fa {
						color: $color-text-light;
						padding-right: 10px;
					}

					.header-menu__first-link-text {
						color: $color-link;
						font-size: 0.8em;

						&.phone {
							color: #fff;
							font-size: 1.1em;
						}
					}
				}
			}

			&.eng {
				flex-direction: column;
				background-color: #003434;
				font-size: 0.8em;
				margin-bottom: 40px;

				a {
					color:  $color-text-light;
				}
			}
		}

		&-link {
			font-family: $sans;
			font-size: 1.3em;
			line-height: 1;
			padding: 10px;
			width: 100%;
		}

		&-next-level {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			border-left: 2px solid #003434;
			color: $color-link;
			font-size: 1.5em;

			&.back {
				width: 50px;
				padding: 0 10px;
			}
		}
	}

	&-company, &-company-about, &-infocenter, &-contact, &-company-branches, &-company-galery, &-command {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 4;
		width: 100%;
		min-height: 0;
		background: #00383a;
		transform: translateX(150%);
		transition-property: opacity, transform, background, min-height, width;
		transition-duration: 0.6s;
		transition-timing-function: ease-in;

		&.open {
			opacity: 1;
			z-index: 5;
			max-height: 100%;
			width: 100%;
			transform: translateX(0);
			transition-property: opacity, transform, background, min-height, max-height,width;
			transition-duration: 0.6s;
			transition-timing-function: ease-out;
		}
	}
}