mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		.content-center
			.header-mobile__plate
				.header-mobile__left.header-item
					.header-mobile__burger
						.header-mobile__burger-item
						.header-mobile__burger-item
						.header-mobile__burger-item
				.header-mobile__logo.header-item
					.header-mobile__logo-block
						a.header-mobile__logo-link(href='#')
							img.header-mobile__logo-img(src='img/logo-header@2x.png', data-no-retina, alt='Логотип компании')
				.header-mobile__right.header-item
					.header-mobile__phone-icon
						a.fa.fa-phone(href='tel:89999999999')
		.header-menu.bem
			ul.header-menu__first-level
				li.header-menu__first-item
					a.header-menu__first-link(href='#') О компании
					.header-menu__first-next-level.company &#10230;
					.header-menu-company.bem
						ul.header-menu__first-level
							li.header-menu__first-item.back
								.header-menu__first-next-level.back &#10229;
								a.header-menu__first-link(href='#') О компании
							li.header-menu__first-item
								a.header-menu__first-link(href='#') О нас
								.header-menu__first-next-level.about &#10230;
								.header-menu-company-about.bem
									ul.header-menu__first-level
										li.header-menu__first-item.back
											.header-menu__first-next-level.back &#10229;
											a.header-menu__first-link(href='#') О нас
										li.header-menu__first-item
											a.header-menu__first-link(href='#') История компании
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Признание и награды
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Философия бизнеса
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Социальная ответственность
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Приемущества
										+header-mobile-footer
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Филиалы
								.header-menu__first-next-level.branches &#10230;
								.header-menu-company-branches.bem
									ul.header-menu__first-level
										li.header-menu__first-item.back
											.header-menu__first-next-level.back &#10229;
											a.header-menu__first-link(href='#') Филиалы
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Москва
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Нижний Новгород
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Киров
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Тверь
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Самара
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Махачкала
										+header-mobile-footer
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Проекты
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Клиенты
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Галерея
								.header-menu__first-next-level.galery &#10230;
								.header-menu-company-galery.bem
									ul.header-menu__first-level
										li.header-menu__first-item.back
											.header-menu__first-next-level.back &#10229;
											a.header-menu__first-link(href='#') Галерея
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Фотогалерея
										li.header-menu__first-item
											a.header-menu__first-link(href='#') Видеогалерея
										+header-mobile-footer
							+header-mobile-footer
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Команда
					.header-menu__first-next-level.command &#10230;
					.header-menu-command.bem
						ul.header-menu__first-level
							li.header-menu__first-item.back
								.header-menu__first-next-level.back &#10229;
								a.header-menu__first-link(href='#') Команда
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Юристы
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Бухгалтеры
							+header-mobile-footer
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Инфоцентр
					.header-menu__first-next-level.infocenter &#10230;
					.header-menu-infocenter.bem
						ul.header-menu__first-level
							li.header-menu__first-item.back
								.header-menu__first-next-level.back &#10229;
								a.header-menu__first-link(href='#') Инфоцентр
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Новости
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Статьи
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Акции
							+header-mobile-footer
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Правовое сопровождение и защита бизнеса
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Представление интересов у физических лиц
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Мероприятия
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Контакты
					.header-menu__first-next-level.contact &#10230;
					.header-menu-contact.bem
						ul.header-menu__first-level
							li.header-menu__first-item.back
								.header-menu__first-next-level.back &#10229;
								a.header-menu__first-link(href='#') Контакты
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Москва
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Нижний Новгород
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Киров
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Тверь
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Самара
							li.header-menu__first-item
								a.header-menu__first-link(href='#') Махачкала
							+header-mobile-footer
				li.header-menu__first-item
					a.header-menu__first-link(href='#') Личный кабинет
				+header-mobile-footer

